@import 'style/button';
@import 'style/body';
@import 'style/navbar';
@import 'style/grid-cont';


$hover-col: rgb(102, 115, 122);
$nav-color: rgba(37, 43, 70, 1);
$nav-col: rgba(40, 43, 70, 1);
$red: rgb(198, 109, 98);

navigation{
  width: 100%;
  height: 50px;
 
  background-color: $nav-col;
  padding: 0 5em;
  display: flex;
  justify-content: center;
  h1{
      margin-left: auto;
      color: white;
  }

}

button{
  border-radius:5px;
  width: 100px;
  font-weight: bolder;
  text-transform: uppercase;
  height: 40px;
  background-color:$nav-col;
  color: #fff;
  margin-left: 5px;
}

button:hover{
  border: 1px solid $nav-col;
  color: $nav-col;
  background-color: #fff;
}
.container{
  width: 100%;
  display: block;
  nav{
    width: 100%;
    height: 50px;
    background-color: $nav-color;
    border-radius: 5px;
    display: flex;
    padding: 0;
    padding-right: 1em;
    ul{
      list-style: none;
      margin-right: auto;
      li{
        display: inline-block;
        button{
          color: white;
          width: 50px;
          background-color: $nav-color;
        }
        button:hover{
          background-color: $hover-col;
          color: $nav-color;
        }
      }
     
    }
   
  }
  table{
    border-collapse: collapse;
    width: 100%;
    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
    tr:hover{
      background-color: $hover-col;
    }
  }

}
.form{
  width: 100%;
  display: block;
  input[type=text]{
    margin: 10px;
    border: 1px solid $nav-col;
    width: 300px;
    height: 45px;
    padding: 5px;
    border-radius: 5px;
    background-color:#fff;
    transition: border .1s ease-in-out;
    
  }
  input[type=text]:focus{
 
    border: 3px solid $red;
    color:#000;

  }

}